[
  {
    "name": "Navbar Extension",
    "title": "Navbar extenstion",
    "description": "HCL Verse Navbar extension",
    "extensions": [
      {
        "name": "Delete the HCL iNotes menu",
        "type": "com.ibm.action.delete",
        "path": ".mailswitchdom",
        "description": "Delete the HCL iNotes menu"
      },
      {
        "type": "com.ibm.action.menu",
        "path": "com.ibm.navbar.order.30000",
        "name": "CollaborationMenuContainer",
        "description": "New menu group",
        "title": "Collaboration"
      },
      {% if domino__install_ontime -%}
      {
        "type" : "com.ibm.action.menu.link",
        "name" : "Team_Calendar_Link",
        "title" : "Team Calendar",
        "description" : "Team Calendar",
        "path" : "CollaborationMenuContainer.a",
        "payload" : {
          "link" : "https://{{ domino__domino_hostname }}/ontime/client.nsf/desktop#",
          "target" : "ontimegcverse"
        }
      },
      {% endif -%}
      {% if domino__sametime_server | trim | length > 0 -%}
      {
        "type": "com.ibm.action.menu.link",
        "path": "CollaborationMenuContainer.b",
        "name": "collaboration.chat",
        "description": "Sametime Chat link",
        "title": "Chat",
        "payload": {
          "link": "https://{{ domino__sametime_server }}/chat",
          "target":"_blank"
        }
      },
      {
        "type": "com.ibm.action.menu.link",
        "path": "CollaborationMenuContainer.c",
        "name": "collaboration.meetings",
        "description": "Sametime Meetings link",
        "title": "Meetings",
        "payload": {
          "link": "https://{{ domino__sametime_server }}/meeting",
          "target":"_blank"
        }
      },
      {% endif -%}
      {% if domino__connections_server | trim | length > 0 -%}
      {
        "type": "com.ibm.action.menu.link",
        "path": "CollaborationMenuContainer.d",
        "name": "collaboration.profiles",
        "description": "Profiles link",
        "title": "Org Directory",
        "payload": {
          "link": "https://{{ domino__connections_server }}/profiles/html/searchProfiles.do",
          "target":"_blank"
        }
      },
      {
        "type": "com.ibm.action.menu.link",
        "path": "CollaborationMenuContainer.e",
        "name": "collaboration.files",
        "description": "Files link",
        "title": "Files",
        "payload": {
          "link": "https://{{ domino__connections_server }}/files",
          "target":"_blank"
        }
      },
      {% endif -%}
      {
        "type": "com.ibm.action.menu.link",
        "path": "CollaborationMenuContainer.f",
        "name": "collaboration.leap",
        "description": "Leap link",
        "title": "Web Apps",
        "payload": {
          "link": "https://{{ domino__domino_hostname }}/volt-apps/",
          "target":"_blank"
        }
      }{% if domino__custom_verse_json_file | trim | length > 0 -%},
{{ verse_json_customization }}
      {% endif -%}
    ],
    "services": [
      "Verse"
    ]
  }
]
