DOMINO SETUP PARAMETERS
-----------------------

- domino__server_name: {{ domino__server_name }}
- domino__domino_hostname: {{ domino__domino_hostname }}
- domino__domino_domain: {{ domino__domino_domain }}
- domino__org_name: {{ domino__org_name }}
- domino__certifier_password: {{ domino__certifier_password }}
- domino__admin_password: {{ domino__admin_password }}
- domino__use_existing_server_id: {{ domino__use_existing_server_id }}
- domino__use_existing_certifier_id: {{ domino__use_existing_certifier_id }}
- domino__use_existing_admin_id: {{ domino__use_existing_admin_id }}
- domino__register_users: {{ domino__register_users }}
