INPUT VALUES FOR INSTALLATION
=============================

DOMINO - PRODUCTS REQUESTED TO INSTALL (SOME WITH A SPECIFIC VERSION)
  Domino:                     {{ domino__install_domino }}   {{ domino_main_version if domino__domino_version is defined }}
  Domino FixPack:             {{ domino__install_fp }}   {{ domino_fixpack if domino__domino_version is defined }}
  Domino Interim fix:         {{ domino__install_if }}   {{ domino_interim if domino__domino_version is defined }}
  Verse:                      {{ domino__install_verse }}   {{ domino__verse_version | default('') }}
  Nomad:                      {{ domino__install_nomad }}   {{ domino__nomad_version | default('') }}
  Traveler:                   {{ domino__install_traveler }}   {{ domino__traveler_version | default('') }}
  Domino Leap:                {{ domino__install_leap }}   {{ domino__leap_version | default('') }}
  Domino REST API:            {{ domino__install_domrestapi }}   {{ domino__domrestapi_version | default('') }}
  OnTime Group Calendar:      {{ domino__install_ontime }}
  Startup Script:             {{ domino__install_startup_script }}

DOMINO - CALCULATED PRODUCT VERSIONS
  {{ "%-10s"|format("PRODUCT") }} {{ "%-12s"|format("REQUESTED") }} {{ "%-12s"|format("INSTALLED") }} {{ "%-44s"|format("INSTALLER NAME") }} {{ "%-10s"|format("WILL BE INSTALLED?") }}
{% for product in product_info | sort(attribute='name') | json_query("[?install]") %}
  {%- set do_installation = "YES" if product.do_installation else "no" %}
  {{ "%-10s"|format(product.name) }} {{ "%-12s"|format(product.version) }} {{ "%-12s"|format(product.installed_version) }} {{ "%-44s"|format(product.installer) }} {{ do_installation }}
{% endfor %}
{% if if_uninstall %}
  * Note: Interim fix {{ domino_fp_if_version }} will be uninstalled first before installing other products.
{% endif %}

DOMINO - SETUP
  Server name:                {{ domino__server_name }}
  Server hostname:            {{ domino__domino_hostname }}
  Domino domain:              {{ domino__domino_domain }}
  Organization name:          /{{ domino__org_name }}
  Certifier password:         {{ domino__certifier_password }}
  Admin name:                 {{ domino__admin_first_name }} {{ domino__admin_last_name }}
  {% if domino__print_credentials %}Admin password:             {{ domino__admin_password }}{% endif %}

  Create MicroCA:             {{ domino__create_microca }}
  Enable DKIM:                {{ domino__enable_dkim }}
  DKIM selector:              {{ domino__dkim_selector }}

  Restart Domino after setup: {{ domino__restart_after_setup }}

DOMINO - ADDITIONAL SERVERS
  Register addt'l. servers:   {{ domino__setup_additional_servers }}
{% if domino__setup_additional_servers %}
  Additional servers:         {{ domino__additional_servers }}
  Servers ID location:        {{ domino__input_data_location }}/{{ domino__domino_domain | lower }}/ids
{% endif %}
  Install as addt'l. server:  {{ domino__install_as_additional }}
{% if domino__install_as_additional %}
  Existing server name:       {{ domino__existing_server_name }}
  Existing server address:    {{ domino__existing_server_address }}
{% endif %}

LOCAL - CUSTOM FILES
  Installer directory:        {{ domino__software_dir }}
  Custom files directory:     {{ domino__input_data_location }}
  Use existing cert ID:       {{ domino__use_existing_certifier_id }}
  Use existing server ID:     {{ domino__use_existing_server_id }}
  Use existing admin ID:      {{ domino__use_existing_admin_id }}
{% if domino__use_existing_certifier_id %}
  Certificate ID file:        {{ domino__cert_id }}
{% endif %}
{% if domino__use_existing_server_id %}
  Server ID file:             {{ domino__server_id }}
{% endif %}
{% if domino__use_existing_admin_id %}
  Admin ID file:              {{ domino__admin_id }}
{% endif %}
  Save reports:               {{ domino__save_reports }}
{% if domino__save_reports %}
  Reports directory:          {{ domino__reports_dir }}
{% endif %}

  Use custom login form:      {{ domino__use_custom_login }}
{% if domino__use_custom_login %}
  Custom web login database:  {{ domino__custom_login_db }}
  Custom web login form:      {{ domino__custom_login_form }}
{% endif %}

SERVER
  Installer path:             {{ domino__install_path }}
  Configure firewall rules:   {{ domino__setup_firewalld }}

INTEGRATION
  HCL Sametime server hostname:     {{ domino__sametime_server }}
  HCL Connections server hostname:  {{ domino__connections_server }}

USERS
  Register users:             {{ domino__register_users }}
{% if domino__register_users %}
  Users input CSV file:       {{ domino__input_data_users }}
  Mail template:              {{ domino__mail_template }}
  Users records in CSV:
{% for user in users %}
                              {{ "%-12s"|format(user.firstName) }} {{ "%-12s"|format(user.lastName) }} {% if domino__print_credentials %}{{ user.password }}{% endif %}{{''}}
{% endfor %}
{% endif %}
