[
  {
    "name": "{{ domino__server_name }} - OS + Domino [ALL]",
    "playbook": "playbooks/domino.yml",
    "description": "Configure OS and install Domino server",
    "arguments": ["-e", "server={{ domino__domino_hostname | lower }}", "-e", "command=install"]
  },
  {
    "name": "{{ domino__server_name }} - 1 - OS [ALL]",
    "playbook": "playbooks/domino.yml",
    "description": "Configure operating system for Domino server installation",
    "arguments": ["-e", "server={{ domino__domino_hostname | lower }}", "-e", "command=install", "--tags", "os", "--skip-tags", "domino"]
  },
  {
    "name": "{{ domino__server_name }} - 1.1 - OS [Preflight check]",
    "playbook": "playbooks/domino.yml",
    "description": "Check the config paramters before the installation",
    "arguments": ["-e", "server={{ domino__domino_hostname | lower }}", "-e", "command=install", "--tags", "check", "--skip-tags", "domino"]
  },
  {
    "name": "{{ domino__server_name }} - 1.2 - OS [Configure]",
    "playbook": "playbooks/domino.yml",
    "description": "Configure operating system for Domino server installation",
    "arguments": ["-e", "server={{ domino__domino_hostname | lower }}", "-e", "command=install", "--tags", "os", "--skip-tags", "domino"]
  },
  {
    "name": "{{ domino__server_name }} - 2 - Domino [ALL]",
    "playbook": "playbooks/domino.yml",
    "description": "Install and configure Domino server",
    "arguments": ["-e", "server={{ domino__domino_hostname | lower }}", "-e", "command=install", "--tags", "domino"]
  },
  {
    "name": "{{ domino__server_name }} - 2.1 - Domino [Preflight check]",
    "playbook": "playbooks/domino.yml",
    "description": "Check the config parameters before the installation",
    "arguments": ["-e", "server={{ domino__domino_hostname | lower }}", "-e", "command=install", "--tags", "check", "--skip-tags", "os"]
  },
  {
    "name": "{{ domino__server_name }} - 2.2 - Domino [Prepare]",
    "playbook": "playbooks/domino.yml",
    "description": "Prepare Domino server installation",
    "arguments": ["-e", "server={{ domino__domino_hostname | lower }}", "-e", "command=install", "--tags", "prepare", "--skip-tags", "os"]
  },
  {
    "name": "{{ domino__server_name }} - 2.3 - Domino [Install]",
    "playbook": "playbooks/domino.yml",
    "description": "Install Domino server",
    "arguments": ["-e", "server={{ domino__domino_hostname | lower }}", "-e", "command=install", "--tags", "install", "--skip-tags", "os"]
  },
  {
    "name": "{{ domino__server_name }} - 2.4 - Domino [Configure]",
    "playbook": "playbooks/domino.yml",
    "description": "Configure Domino server",
    "arguments": ["-e", "server={{ domino__domino_hostname | lower }}", "-e", "command=install", "--tags", "configure", "--skip-tags", "os"]
  },
  {
    "name": "{{ domino__server_name }} - 2.5 - Domino [Integrate]",
    "playbook": "playbooks/domino.yml",
    "description": "Configure Domino server integration with Sametime and/or Connections",
    "arguments": ["-e", "server={{ domino__domino_hostname | lower }}", "-e", "command=install", "--tags", "integrate", "--skip-tags", "os"]
  },
  {
    "name": "{{ domino__server_name }} - 2.6 - Domino [Verify]",
    "playbook": "playbooks/domino.yml",
    "description": "Verify Domino server installation and configuration",
    "arguments": ["-e", "server={{ domino__domino_hostname | lower }}", "-e", "command=install", "--tags", "verify", "--skip-tags", "os"]
  }
]
